<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antony.muzei.pixiv">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_bar_title"
            android:exported="true">
        </activity>

        <provider
            android:name=".PixivArtProvider"
            android:authorities="com.antony.muzei.pixiv.PixivArtProvider"
            android:exported="true"
            android:label="Pixiv source for Muzei 3.0"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
            </intent-filter>
            <meta-data android:name="settingsActivity"
                android:value="com.antony.muzei.pixiv.SettingsActivity" />
            <meta-data android:name="color" android:value="#0096db" />
        </provider>
    </application>
</manifest>
