<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antony.muzei.pixiv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />

        <provider
            android:name=".PixivArtProvider"
            android:authorities="com.antony.muzei.pixiv.provider"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
            </intent-filter>

            <meta-data
                android:name="settingsActivity"
                android:value="com.antony.muzei.pixiv.ui.activity.MainActivity" />
            <meta-data
                android:name="color"
                android:value="#0096db" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.antony.muzei.pixiv.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".AddToBookmarkService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>